# Visual studio folder
.vs/

# And files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
# Resource file
*.aps

# ## .rayware folder ## #
# Hide this folder !
.rayware/*

# But keep the licenses
!LICENSE.txt

# Show the file icons
!Editor.ico
!Sandbox.ico
!Logo1.psd

# ## ## ## ## ## ## ## ##
# Generic OS files
*.DS_Store

# !!! HIDE THE BUILD FOLDER !!!
Build/