# Visual studio code
.vscode/

# Visual studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.aps

# Make
Makefile

# XCode
*.pbxproj
*.xcworkspacedata

# Codelite
*.workspace
*.project

# mac OS
*.DS_Store

# Build folder
/Bin/

# Generator
/GenerationPreferences.txt
